@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

/* nor */
body,
ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

/* lib */
row::after {
    content: "";
    clear: both;
    display: block;
}

.con {
    max-width: 1440px;
    margin: 0 auto;
}

/* cus */
.main_page {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 3700px;
    background-color: #fff;
}

/* header */
header {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #0100c8;
    z-index: 999;
}

header>.header_box {
    height: 100%;
    position: relative;
}


header>.header_box>.menu_box {
    width: 37px;
    height: 100%;
    float: left;
}

header>.header_box>.menu_box>.ham {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-top: 9px;
    margin-left: 5px;

}


header>.header_box>.logo_box {
    width: 161px;
    height: 100%;
    margin: 0 auto;
    
}

header>.header_box>.logo_box>img {
    margin-top: 10px;
    margin-left: 5px;
}

header>.header_box>.language_box {
    width: 70px;
    height: 100%;
    float: right;
    position: absolute;
    top: 0;
    right: 125px;
}

header>.header_box>.language_box>span {
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
}

header>.header_box>.language_box>span>img {
    width: 11px;
    height: 8px;
}

header>.header_box>.icon_box {
    position: relative;
    width: 102px;
    height: 100%;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}

header>.header_box>.icon_box>ul>.cart {
    position: absolute;
    top: 10px;
    left: 5px;

}

header>.header_box>.icon_box>ul>.login {
    position: absolute;
    top: 7px;
    right: 5px;

}

header>.header_box>.icon_box>ul>li>img {
    width: 33px;
    float: left;
}

/* menu_2 */
header>.menu_2_box {
    width: 100%;
    height: 660px;
    background-color: #0100c8;
    position: absolute;
    top: -2000%;
    left: 0;
    z-index: 9;
    transition: 0.7s;
}

header>.menu_2_box.active {
    top: 0%;
}

header>.menu_2_box>.menu_content {
    width: 1440px;
    height: 660px;
    background-color: #0100c8;
    position: relative;
}

header>.menu_2_box>.menu_content>.ham_close {
    width: 37px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
}



header>.menu_2_box>.menu_content>.one>li {

    float: left;
    color: #fff;
    margin-left: 125px;
    margin-top: 50px;
    font-size: 20px;

}

header>.menu_2_box>.menu_content>.one>li:hover {
    color: #ff2667;
}



header>.menu_2_box>.menu_content>.border_box {
    width: 1250px;
    height: 500px;
    border: 4px solid #ff2667;
    border-width: 4px 4px 56px 4px;
    box-shadow: 5px 5px 10px #222222 inset;
    padding-left: 182px;
    position: absolute;
    top: 100px;

}

header>.menu_2_box>.menu_content>.border_box > .menu_logo > img {
    padding-top: 515px;
    padding-left: 460px;

}


header>.menu_2_box>.menu_content > .two_box{
    width: 135px;
    height: 142px;
    position: absolute;
    top: 125px;
    left: 100px;
    color: #fff;
}

header>.menu_2_box>.menu_content > .two_box > .mt{
    padding-top: 15px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 300;
}


header>.menu_2_box>.menu_content>.two_box>.mt>li:hover {
    color: #ff2667;
}

header>.menu_2_box>.menu_content > .two_1_box{
    width: 189px;
    height: 294px;
    position: absolute;
    top: 300px;
    left: 100px;
    color: #fff;
}

header>.menu_2_box>.menu_content > .two_1_box > .mt{
    padding-top: 15px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 300;
}

header>.menu_2_box>.menu_content>.two_1_box>.mt>li:hover {
    color: #ff2667;
}

header>.menu_2_box>.menu_content > .three_box{
    width: 65px;
    height: 62px;
    position: absolute;
    top: 135px;
    left: 505px;
    color: #fff;

}

header>.menu_2_box>.menu_content > .three_box > .mt{
    padding-top: 15px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
}

header>.menu_2_box>.menu_content>.three_box>.mt>li:hover {
    color: #ff2667;
}


header>.menu_2_box>.menu_content > .four_box{
    width: 210px;
    height: 270px;
    position: absolute;
    top: 135px;
    left: 680px;
    color: #fff;

}

header>.menu_2_box>.menu_content > .four_box > .mt{
    padding-top: 15px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
}

header>.menu_2_box>.menu_content>.four_box>.mt>li:hover {
    color: #ff2667;
}

header>.menu_2_box>.menu_content > .five_box{
    width: 80px;
    height: 70px;
    position: absolute;
    top: 135px;
    right: 180px;
    color: #fff;

}

header>.menu_2_box>.menu_content > .five_box > .mt{
    padding-top: 15px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
}

header>.menu_2_box>.menu_content>.five_box>.mt>li:hover {
    color: #ff2667;
}

/* banner */
.banner {
    height: 800px;
    padding-top: 50px;
}

.banner>.banner_box {
    height: 100%;
    position: relative;
    overflow: hidden;
}



.banner>.banner_box>.video_box {
    width: 1440px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.banner>.banner_box>.video_box>video {
    width: 100%;
}

.banner>.banner_box>.mg_box {
    position: absolute;
    top: 348px;
    left: 293px;

}


/* section01 */
.section01 {
    height: 774px;
}

.section01>.section01_box {
    height: 100%;
    position: relative;
}

.section01>.section01_box>.top_text {
    text-align: center;
}

.section01>.section01_box>.img_wrap01 {
    width: 467px;
    height: 554px;
    margin: 0 auto;
    overflow: hidden;
}

.section01>.section01_box>.img_wrap01>.img_box {
    position: absolute;
    opacity: 0;
    transition: 2s;

}

.section01>.section01_box>.img_wrap01>.img_box:nth-child(1) {
    opacity: 1;
}

.section01>.section01_box>.img_wrap01>.img_box:nth-child(2) {
    opacity: 0;
}


.section01>.section01_box>.img_wrap01:hover>.img_box:nth-child(1) {
    opacity: 0;
}

.section01>.section01_box>.img_wrap01:hover>.img_box:nth-child(2) {
    opacity: 1;
}


.section01>.section01_box>.center_text {
    width: 708px;
    transform: translate(50%, 50%) rotate(-35deg);
    position: absolute;
    bottom: 425px;
    text-shadow: 2px 2px 2px #444;
}

.section01>.section01_box>.center_text>span {
    color: #fff;
    text-shadow: 1px 1px 1px #333;
}

.section01>.section01_box > .view_box{
    width: 308px;
    height: 30px;
    border: 2px solid black;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.5s;
}
.section01>.section01_box > .view_box:hover{
    background-color: #000;
    color: #fff;
}

.section01>.section01_box > .view_box > ul > li{
    text-align: center;
    line-height: 25px;
}

/* section02 */
.section02 {
    height: 1111px;
}

.section02>.section02_box {
    height: 100%;
    position: relative;
}

.section02>.section02_box>.top_2_text {
    text-align: center;
}

.section02>.section02_box>.img_wrap02 {
    width: 690px;
    height: 867px;
    margin: 0 auto;
    overflow: hidden;
}

.section02>.section02_box>.img_wrap02>.img_box2 {
    position: absolute;
    opacity: 0;
    transition: 2s;

}

.section02>.section02_box>.img_wrap02>.img_box2:nth-child(1) {
    opacity: 1;
}

.section02>.section02_box>.img_wrap02>.img_box2:nth-child(2) {
    opacity: 0;
}


.section02>.section02_box>.img_wrap02:hover>.img_box2:nth-child(1) {
    opacity: 0;
}

.section02>.section02_box>.img_wrap02:hover>.img_box2:nth-child(2) {
    opacity: 1;
}


.section02>.section02_box>.center_text_2 {
    width: 150px;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 990px;
    left: 249px;
}
.section02>.section02_box>.center_text_3 {
    width: 840px;
    transform: rotate(90deg);
    position: absolute;
    bottom: 625px;
    right: -100px;
}

.section02>.section02_box > .view_box_2{
    width: 308px;
    height: 30px;
    border: 2px solid black;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.5s;
}
.section02>.section02_box > .view_box_2:hover{
    background-color: #000;
    color: #fff;
}


.section02>.section02_box > .view_box_2 > ul > li{
    text-align: center;
    line-height: 25px;
}

.section02>.section02_box > .view_box_3{
    width: 308px;
    height: 30px;
    border: 2px solid black;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 20px;
    transition: 0.5s;
}
.section02>.section02_box > .view_box_3:hover{
    background-color: #000;
    color: #fff;
}


.section02>.section02_box > .view_box_3 > ul > li{
    text-align: center;
    line-height: 25px;
}

/* section03 */
.section03 {
    height: 918px;
    background-color: #171719;
}

.section03 > .bottom_box{
    height: 41px;
    border-bottom: 3px solid #fff;
    box-sizing: border-box;
    background-color: #0100c8;
    color: #fff;
    text-align: center;
    line-height: 38px;
}
.section03>.section03_box {
    height: 877px;
    background-color: #171719;
    position: relative;
}

.section03>.section03_box > .txt03_box{
    width: 488px;
    height: 315px;
    position: absolute;
    left: 20px;
    top: 240px;
}


.section03>.section03_box > .txt03_box > ul{
    color: #fff;
}

.section03>.section03_box > .txt03_box > ul > .t2{
    font-size: 22px;

}

.section03>.section03_box > .txt03_box > ul > .t3{
    font-weight: 300;
    padding-top: 60px;
}
    

.section03>.section03_box > .view_box_4{
    width: 484px;
    height: 30px;
    border: 2px solid #fff;
    box-sizing: border-box;
    color: #fff;
    margin-left: 20px;
    position: absolute;
    top: 540px;
    transition: 0.5s;

}
.section03>.section03_box > .view_box_4:hover{
    border: 2px solid #0100c8;
    background-color: #0100c8;
    color: #fff;
}


.section03>.section03_box > .view_box_4 > ul > li{
    text-align: center;
    line-height: 25px;
}

.section03>.section03_box > .view_box_5{
    width: 484px;
    height: 30px;
    border: 2px solid #fff;
    box-sizing: border-box;
    color: #fff;
    margin-left: 20px;
    position: absolute;
    top: 600px;
    transition: 0.5s;
}
.section03>.section03_box > .view_box_5:hover{
    border: 2px solid #0100c8;
    background-color: #0100c8;
    color: #fff;
}


.section03>.section03_box > .view_box_5 > ul > li{
    text-align: center;
    line-height: 25px;
}


.section03>.section03_box > .video_box{
    position: absolute;
    top: 100px;
    right: 50px;
}
/* footer */
footer {
    height: 500px;
}

footer>.footer_box {
    height: 100%;
    position: relative;
    font-size: 13px;
    font-weight: 100;
}

footer>.footer_box > .about_box{
    width: 813px;
    height: 133px;
    position: absolute;
    top: 20px;
    color: #848484;
}

footer>.footer_box > .about_box > ul > .bd{
    border-bottom: 1px solid #000;
    padding-left: 10px;
}

footer>.footer_box > .about_box > ul > .bb{
    position: absolute;
    padding-top: 15px;
    padding-left: 10px;

}


footer>.footer_box > .company_box{
    width: 608px;
    height: 171px;
    position: absolute;
    top: 200px;
    color: #848484;
}

footer>.footer_box > .company_box > ul > .bd{
    border-bottom: 1px solid #000;
    padding-left: 10px;
}

footer>.footer_box > .company_box > ul > .bb{
    position: absolute;
    padding-top: 15px;
    padding-left: 10px;

}

footer>.footer_box > .social_box{
    width: 440px;
    height: 86px;
    position: absolute;
    top: 420px;
    color: #848484;
}

footer>.footer_box > .social_box > ul > .bd{
    border-bottom: 1px solid #000;
    padding-left: 10px;
}


footer>.footer_box > .social_box > .icon > li{
    float: left;
    padding-top: 18px;
    padding-left: 27px;
}

footer>.footer_box > .social_box > .icon > li:hover{
    color: #0100c8;
}

footer>.footer_box > .service_box{
    width: 226px;
    height: 121px;
    position: absolute;
    top: 135px;
    right: 0px;
    color: #848484;
}

footer>.footer_box > .service_box > ul > .bd{
    border-bottom: 1px solid #000;
    padding-left: 90px;
}

footer>.footer_box > .service_box > .bb > li{
    padding-top: 5px;
    padding-left:100px;

}

footer>.footer_box > .service_box > .bb > li:hover{
    color: #0100c8;
}


footer>.footer_box > .bluemark_box{
    width: 551px;
    height: 166px;
    position: absolute;
    top: 350px;
    right: 0px;
    color: #848484;
}

footer>.footer_box > .bluemark_box > ul > .bd{
    border-bottom: 1px solid #000;
    padding-left: 250px;
    color: #0100c8;
}

footer>.footer_box > .bluemark_box > ul > .bb{
    position: absolute;
    top: 35px;
    right: 5px;
}


footer>.footer_box > p{
    padding-left: 640px;
    padding-top: 500px;
    color: #848484;
}

footer>.footer_box > .markmove_box{
    width: 100px;
    line-height: 100px;
    border: 2px solid #0100c8;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: 600;
    color:#0000c8;
    border-radius: 0%;
    position: absolute;
    top: 300px;
    right: 555px;
    transition: 0.5s;

}


footer>.footer_box > .markmove_box:hover{
    background-color: #0100c8;
    color: #fff;
}

footer>.footer_box > .animation{
    animation-name: blue_mark;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite ;
    animation-play-state: running ;
    animation-timing-function: linear ;
    animation-fill-mode: forwards ;
}

@-webkit-keyframes blue_mark {
    0% {
      right:0px;
    }
    
    50%{
      top: 380px ;
      transform: rotate(65deg) ;
    }
    
    100% {
      right:500px;
    }
  }